section {
    width: 100vw;
}

.flex {
    display: flex;
    align-items: baseline;
}

.float-left {
    float: left;
    margin-right: 1em;
}

.bg-w {
    background-color: #fefefe;
}

.border-b {
    border-bottom: .5px solid rgba(146, 146, 146, 0.377);
}

.preco,
.recomendacao {
    font-size: 16pt;
}

.side-card {
    text-align: center;
    line-height: 1.5;
    height: 30%;
    margin-top: 8px;
}

.lateral {
    margin-top: 20px;
}

.item {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.mb-negative {
    margin-bottom: 20px;
}

.titulo__lateral {
    font-size: 11pt;
    font-weight: 600;
}

.descricao__lateral {
    line-height: 1;
}