section {
    width: 100vw;
}

.flex {
    display: flex;
    align-items: baseline;
}

.bg-w {
    background-color: #fefefe;
}

.preco,
.recomendacao {
    font-size: 16pt;
}

.side-card {
    text-align: center;
    line-height: 1.5;
    height: 60%;
}

.lateral {
    margin-top: -80px;
    margin-bottom: -80px;
}

.item {
    position: relative;
}

.subtotal {
    position: absolute;
    left: 79%;
    bottom: 0;
    font-size: 10pt;
}