body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

header {
    background-color: #232F3E;
    color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .3rem 0;
}

.pesquisa {
    height: 40px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
}

.pesquisa>select {
    padding: .7em;
    background-color: #DADADA;
    margin-right: -6px;
    height: 100%;
}

.pesquisa__barra {
    outline: none;
    width: 500px;
    height: 100%;
}

.lupa {
    font-size: 16px;
    background-color: #F3A847;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .7em .7em .8rem;
    margin-left: -5px;
}

.login__link {
    color: #fefefe;
    text-decoration: none;
}

.login__select-custom>select {
    border: none;
    background-color: #232F3E;
    color: #fefefe;
    margin-left: -5px;
}

.fa-location-dot {
    font-size: 16px;
}

.fa-magnifying-glass {
    color: #131921;
}

.carrinho {
    position: relative;
    display: flex;
    align-items: center;
}

.carrinho__img {
    height: 28px;
    position: absolute;
    left: -30px;
}

.numero-carrinho {
    position: relative
}

.numero-carrinho>p {
    position: absolute;
    color: #F08804;
    font-size: 16pt;
    right: 70px;
    bottom: -5px;
}

.texto-carrinho {
    position: relative;
}

.texto-carrinho>p {
    position: absolute;
    font-weight: 800;
    left: -26px;
}

nav {
    background-color: #2e4157;
    color: #fefefe;
    display: flex;
    padding: .5rem;
    align-items: center;
}

.navegacao {
    margin-right: 20px;
}

.fa-bars {
    font-size: 20px;
}

.todos {
    margin-left: -5px;
}

.prime>select {
    outline: none;
    background-color: #2e4157;
    color: #fefefe;
    border: solid #2e4157;
    font-size: 14px;
    font-weight: 550;
}

.senhor-dos-aneis {
    margin-left: 130px;
}

/* ----------------------------------------BREAK------------------------------------------ */

/* ----------------------------------------PRINCIPAL------------------------------------------ */

.principal {
    background-image: url(../img/bg_amazon.jpg);
    background-position: top;
    background-size: cover;
    height: 90vh;
}

.principal__lista {
    display: flex;
    justify-content: space-around;
}

.principal__item {
    display: inline-block;
    background-color: #fefefe;
    margin-top: 20%;
    padding: 1rem;
    box-shadow: 1px 1px 50px #4452647e;
    width: 300px;
    text-align: start;
    line-height: 2em;
}

.principal__item-titulo {
    margin-bottom: 10px;
}

.principal__item-foto {
    height: 120px;
    margin: 6px;
    border: .5px solid;
}

.oferta>.principal__item-foto {
    height: auto;
    width: 100%;
    margin: auto;
}

.destaque {
    display: flex;
    justify-content: space-between;
}

li>.main {
    width: 100%;
    margin: auto;
}

.destaque>.sec {
    height: 70px;
}

.destaque>p {
    margin-bottom: 15px;
}

.internacionais>.main {
    width: 100%;
    margin: auto;
}

/* ------------------------------------BREAK------------------------------------ */

/* ------------------------------------SECUNDARIA------------------------------------ */

.secundaria__lista {
    display: flex;
    justify-content: space-around;
}

.secundaria__item {
    display: inline-block;
    background-color: #fefefe;
    margin-top: 60px;
    padding: 1rem;
    box-shadow: 2px 2px 50px;
    width: 300px;
    text-align: start;
    line-height: 2em;
}

.produto>.principal__item-foto {
    height: auto;
    width: 100%;
    margin: auto;
}

/* ------------------------------------BREAK------------------------------------ */

/* ------------------------------------CARROSSEL------------------------------------ */

.carrossel {
    display: flex;
    justify-content: center;
}

.carrossel-produtos {
    width: 100%;
    margin: 25px 20px;
    background-color: #fefefe;
    height: 220px;
    padding: .5em;
}

.carrossel__titulo {
    padding: 1em 1em 0;
}

.carrossel__titulo a {
    text-decoration: none;
    color: #507196;
    font-size: 10pt;
    margin-left: 10px;
}

.produtos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.carrossel__item {
    text-align: center;
}

.carrossel__img {
    border-radius: 50%;
}

.carrossel__nome {
    font-size: 11pt;
    font-weight: 700;
    background: #fefefe;
    margin-top: -30px;
}