body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

header {
    background-color: #232F3E;
    color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .3rem 0;
}

.pesquisa > select {
    padding: .7rem;
    border-radius: 5px 0 0 5px;
    background-color: #DADADA;
    margin-right: -6px;
}

.pesquisa__barra {
    outline: none;
    padding: .7rem;
    width: 500px;
}

.lupa {
    font-size: 16px;
    background-color: #F3A847;
    padding: .7rem .7rem .8rem;
    margin-left: -5px;
    border-radius: 0 5px 5px 0;
}

.login__select-custom > select {
    border: none;
    background-color: #232F3E;
    color: #fefefe;
    margin-left: -5px;
}

.fa-location-dot {
    font-size: 16px;
}

.fa-magnifying-glass {
    color: #131921;
}

nav {
    background-color: #2e4157;
    color: #fefefe;
    display: flex;
    padding: .5rem;
    align-items: center;
}

.navegacao {
    margin-right: 10px;
}

.fa-bars {
    font-size: 20px;
}

.todos {
    margin-left: -5px;
}

.prime > select {
    outline: none;
    background-color: #2e4157;
    color: #fefefe;
    border: solid #2e4157;
    font-size: 16px;
    font-weight: 550;
}

.senhor-dos-aneis {
    margin-left: 130px;
}

/* ----------------------------------------BREAK------------------------------------------ */

/* ----------------------------------------PRINCIPAL------------------------------------------ */

.principal {
    background-image: url(../img/bg_amazon.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
}

.principal__lista {
    display: flex;
    justify-content: space-around;
}

.principal__item {
    display: inline-block;
    background-color: #fefefe;
    margin-top: 20%;
    padding: 1rem;
    box-shadow: 5px 5px 50px;
    height: 300px;
    width: 300px;
    text-align: start;
    line-height: 1.3em;
}
